body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #fffa78ff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4ae28eff;
    color: #fff;
    text-align: left;
}

tr:hover {
    background-color: #f1f1f1;
}

caption {
    font-size: 1.3em;
    margin: 10px;
    color: #000;
    font-weight: bold;
}

